# API Configuration
REACT_APP_SERVER_DOMAIN=https://healthbooker.onrender.com/api
REACT_APP_SERVER_URL=https://healthbooker.onrender.com

# Cloudinary Configuration (if used)
REACT_APP_CLOUDINARY_PRESET=zenstore 